/* Add CSS Styling */

.odd {
    background-color: rgb(255, 192, 203);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#four {
    background-color: rgb(173, 255, 47);
    font-size: 24px;
    font-weight: bold;
}

.font {
    font-size: 24px;
}